/*-- scss:defaults --*/
/*-- scss:defaults --*/

/* Colores institucionales */
/* fondo de la navbar */
$navbar-bg: #2F2E4E;

/* fondo del valuebox */
$valuebox-bg-primary: $navbar-bg;


/* Navbar en modo oscuro (texto blanco) */
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #e6e6e6;
$navbar-dark-active-color: #ffffff;
$navbar-dark-brand-color: #ffffff;